{% extends "base.html" %} 
{% block title %}Test Site | Home{% endblock %}

{% block content %}
<body>
    {% for p in people %}
        <h1>{{ p.name }}</h1>
        <p>{{ p.name }} is currently {{ p.age }} years old.</p>
        {% if p.job == "jobless" %}
            <p>{{ p.name }} currently works at {{ p.job }}.</p>
        {% elif p.job == "retired" %}
            <p>{{ p.name }} is currently jobless.</p>
        {% else %}
            <p>{{ p.name }} is currently retired</p>
        {% endif %}
    {% endfor %}
{% endblock %}